:root {
  --header-height: calc(80px - var(--padding) * 2);
}

header {
  width: calc(100% - var(--padding) * 2);
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  justify-content: space-between;
  padding: var(--padding);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.2);
  background: rgba(var(--background-color-rgb), 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header {
  margin-top: calc(var(--header-height) * 2) !important;
}
/* SX ------------ */
.header_sx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  margin-left: var(--margin);
  width: 162px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_logo img {
  width: 162px;
}

/* DX -------------- */
.header_dx {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-r) var(--border-r);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header_dx_img {
  width: 32px;
  height: 32px;
}
/* SEARCH  */
.overlay_search {
  height: 100vh;
  width: 0vw;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  z-index: 1000;
  overflow-x: hidden;
  margin-left: -16px;
  border-radius: var(--border-r) var(--border-r);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
  transition: var(--anim-speed);
}
.overlay_search_close {
  margin: var(--margin);
  margin-top: calc(var(--margin) * 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-r);
  cursor: pointer;
  width: 42px;
  height: 42px;
}
.overlay_search_close:hover {
  background-color: var(--color-step-200);
}
.overlay_search_close_img {
  width: 32px;
  height: 32px;
}
.overlay_search_input {
  margin: calc(var(--margin) * 2);
  padding: var(--padding) 10px;
  border-radius: var(--border-r);
  width: calc(100% - var(--margin) * 6);
}
.overlay_search_button {
  margin: 0 calc(var(--margin) * 2);
  padding: var(--padding) 10px;
  border-radius: var(--border-r);
  width: calc(100% - var(--margin) * 6);
  background-color: var(--c-p);
  cursor: pointer;
}
.overlay_search_button_text {
  color: var(--background-color);
  text-align: center;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.overlay_search_response {
  margin: 0 calc(var(--margin) * 2);
  padding: var(--padding) 10px;
  border-radius: var(--border-r);
  width: calc(100% - var(--margin) * 6);
}

.cardUIresp {
  margin-bottom: var(--margin);
  padding: var(--padding) 10px;
  border-radius: var(--border-r);
  /* width: calc(100% - var(--margin) * 6); */
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border-radius: var(--border-r) var(--border-r);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.cardUIresp_img {
  width: 20%;
  height: 100%;
}
.cardUIresp_img img {
  border-radius: var(--border-r);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardUIresp_info {
  width: calc(70% - var(--padding));
  padding: var(--padding);
  display: flex;
  flex-direction: column;
}
.cardUIresp_info_title {
  margin: 0;
}
.cardUIresp_info_vote_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardUIresp_info_vote {
  margin: 0;
}
.cardUIresp_info_vote_img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  filter: var(--filter-p);
}
.cardUIresp_info_popularity {
  margin-top: 10px;
}
.containerRespRef {
  font-weight: 800;
}
/* --------------------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
