/* -------  IMPORTS -------- */
@import "./normalize.css";

/* Font */
@import "./fonts.css";
/* Color */
@import "./colors.css";

/* Cross app Componets */
@import "../Components/Header/header.css";
@import "../Components/Menu/menu.css";
@import "../Components/Card_info/Card_info.css";
@import "../Components/Modal_episodes/Modal_episodes.css";
@import "../Components/LoaderSpinner/loaderSpinner.css";
@import "../Components/VideoOverlay/VideoOverlay.css";
@import "../Components/Scroll_list/Scroll_list.css";

/* --------- VARIABLES --------- */
:root {
  --border-r: 10px;

  --anim-speed: 0.3s;
  --padding: 16px;
  --margin: 16px;
}

html {
  scroll-behavior: smooth;
}

.margin-top {
  margin-top: calc(var(--margin) * 2);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid var(--c-p);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--c-p);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-s);
}
