@import "../Home_page/components/horizontal_card/horizontal_card.css";
@import "../Home_page/components/hero_comp/hero_comp.css";

.category_content {
  padding: var(--padding);
  margin-top: 82px;
}
.category_content_title {
  font-size: 28px;
  margin: 0;
}

.category_content_grid {
  margin-top: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
}
