:root {
  /* ---------------  UI COLORS ---------------- */

  --c-p: #00d99b;
  --c-p-rgb: 0, 217, 155;
  --c-p-contrast: #000000;
  --c-p-contrast-rgb: 0, 0, 0;
  --c-p-shade: #00bf88;
  --c-p-tint: #1adda5;
  --filter-p: invert(24%) sepia(100%) saturate(5000%) hue-rotate(110deg)
    brightness(87%) contrast(101%);

  --c-s: #0cf06f;
  --c-s-rgb: 12, 240, 111;
  --c-s-contrast: #000000;
  --c-s-contrast-rgb: 0, 0, 0;
  --c-s-shade: #0bd362;
  --c-s-tint: #24f27d;
  --filter-s: invert(26%) sepia(152%) saturate(1962%) hue-rotate(87deg)
    brightness(98%) contrast(94%);

  --c-t: #00f8f8;
  --c-t-rgb: 0, 248, 248;
  --c-t-contrast: #000000;
  --c-t-contrast-rgb: 0, 0, 0;
  --c-t-shade: #00dada;
  --c-t-tint: #1af9f9;
  --filter-t: invert(100%) sepia(97%) saturate(7185%) hue-rotate(102deg)
    brightness(95%) contrast(104%);

  --c-success: #2dd36f;
  --c-success-rgb: 45, 211, 111;
  --c-success-contrast: #000000;
  --c-success-contrast-rgb: 0, 0, 0;
  --c-success-shade: #28ba62;
  --c-success-tint: #42d77d;
  --filter-success: invert(94%) sepia(73%) saturate(1695%) hue-rotate(65deg)
    brightness(90%) contrast(82%);

  --c-warning: #ffc409;
  --c-warning-rgb: 255, 196, 9;
  --c-warning-contrast: #000000;
  --c-warning-contrast-rgb: 0, 0, 0;
  --c-warning-shade: #e0ac08;
  --c-warning-tint: #ffca22;
  --filter-warning: invert(86%) sepia(40%) saturate(3417%) hue-rotate(352deg)
    brightness(101%) contrast(101%);

  --c-danger: #eb445a;
  --c-danger-rgb: 235, 68, 90;
  --c-danger-contrast: #ffffff;
  --c-danger-contrast-rgb: 255, 255, 255;
  --c-danger-shade: #cf3c4f;
  --c-danger-tint: #ed576b;
  --filter-danger: invert(57%) sepia(99%) saturate(4878%) hue-rotate(327deg)
    brightness(95%) contrast(94%);

  --c-medium: #92949c;
  --c-medium-rgb: 146, 148, 156;
  --c-medium-contrast: #000000;
  --c-medium-contrast-rgb: 0, 0, 0;
  --c-medium-shade: #808289;
  --c-medium-tint: #9d9fa6;

  --c-light: #f4f5f8;
  --c-light-rgb: 244, 245, 248;
  --c-light-contrast: #000000;
  --c-light-contrast-rgb: 0, 0, 0;
  --c-light-shade: #d7d8da;
  --c-light-tint: #f5f6f9;

  /* ---------------  BACKGROUND ---------------- */
  --background-color: #1d1d1d;
  --filter-bg: invert(86%) sepia(0%) saturate(2%) hue-rotate(140deg)
    brightness(99%) contrast(100%);
  --background-color-rgb: 48, 48, 48;

  --text-color: #ffffff;
  --filter-text: invert(99%) sepia(3%) saturate(385%) hue-rotate(335deg)
    brightness(117%) contrast(100%);
  --text-color-rgb: 255, 255, 255;

  --color-step-50: #3a3a3a;
  --color-step-100: #454545;
  --color-step-150: #4f4f4f;
  --color-step-200: #595959;
  --color-step-250: #646464;
  --color-step-300: #6e6e6e;
  --color-step-350: #787878;
  --color-step-400: #838383;
  --color-step-450: #8d8d8d;
  --color-step-500: #989898;
  --color-step-550: #a2a2a2;
  --color-step-600: #acacac;
  --color-step-650: #b7b7b7;
  --color-step-700: #c1c1c1;
  --color-step-750: #cbcbcb;
  --color-step-800: #d6d6d6;
  --color-step-850: #e0e0e0;
  --color-step-900: #eaeaea;
  --color-step-950: #f5f5f5;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.filter-p {
  filter: invert(24%) sepia(100%) saturate(5000%) hue-rotate(110deg)
    brightness(87%) contrast(101%);
}
.filter-s {
  filter: invert(26%) sepia(152%) saturate(1962%) hue-rotate(87deg)
    brightness(98%) contrast(94%);
}
.filter-t {
  filter: invert(100%) sepia(97%) saturate(7185%) hue-rotate(102deg)
    brightness(95%) contrast(104%);
}
.filter-success {
  filter: invert(94%) sepia(73%) saturate(1695%) hue-rotate(65deg)
    brightness(90%) contrast(82%);
}
.filter-warning {
  filter: invert(86%) sepia(40%) saturate(3417%) hue-rotate(352deg)
    brightness(101%) contrast(101%);
}
.filter-danger {
  filter: invert(57%) sepia(99%) saturate(4878%) hue-rotate(327deg)
    brightness(95%) contrast(94%);
}

.filter-bg {
  filter: invert(86%) sepia(0%) saturate(2%) hue-rotate(140deg) brightness(99%)
    contrast(100%);
}
.filter-text {
  filter: invert(99%) sepia(3%) saturate(385%) hue-rotate(335deg)
    brightness(117%) contrast(100%);
}
