.hero_card {
  display: flex;
  height: 300px;
  background-color: aqua;
  padding: var(--padding);
  border-radius: var(--border-r);
  width: calc(100% - var(--padding) * 4);
  scroll-snap-align: center;
  margin-right: 5px;
  position: relative;
}

.hero_card_overlay {
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  box-shadow: 0px 80px 20px 15px rgba(0, 0, 0, 0.7);
  position: absolute;
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);
  height: 0%;
  border-radius: var(--border-r);
  left: 0;
  top: 0;
  white-space: initial;
  transition: all var(--anim-speed) ease-in-out;
}

.hero_card:hover .hero_card_overlay {
  opacity: 1;
  visibility: visible;
  height: 40%;
}

.hero_card_title {
  margin: 0;
  font-size: 26px;
  font-weight: 800;
  background-color: transparent;
}
.hero_card_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero_card_rating_stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero_card_rating_stars img {
  width: 24px;
  height: 24px;
  filter: var(--filter-p);
  margin-right: var(--margin);
}
.hero_card_rating_stars p {
  margin: 0;
}

.hero_card_rating_vote_count {
  display: flex;
  flex-direction: row;
}
.hero_card_rating_vote_count p {
  margin-left: 10px;
}

.hero_card_genre {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.hero_card_genre_title {
  margin: 0;
  color: var(--color-step-600);
  cursor: pointer;
}
.hero_card_genre_title:hover {
  cursor: pointer;
}
.hero_card_genre_title p {
  margin: 0;
  margin-top: 10px;
}

.hero_card_genre_title_separator {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-step-600);
}
.hero_card_genre_title_separator p {
  margin: 0;
  margin-top: 10px;
}

.hero_card_cta {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--margin) * 2);
  gap: 10px;
}
.hero_card_cta_btn {
  text-align: center;
  padding: 10px 20px;
  background-color: var(--c-p);
  border-radius: var(--border-r);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all var(--anim-speed) ease-in-out;
}
.hero_card_cta_btn:hover {
  background-color: var(--c-s);
  border-color: var(--c-s);
}
.hero_card_cta_btn p {
  margin: 0;
  font-weight: 800;
}
.hero_card_cta_btn img {
  width: 18px;
}
.trailer {
  color: var(--background-color);
  transition: all var(--anim-speed) ease-in-out;
}
.trailer:hover {
  background-color: var(--c-s);
  border-color: var(--c-s);
}
.trailer img {
  background-color: transparent;
  filter: var(--filter-bg);
}
.info {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: 2px solid var(--c-p);
  color: var(--c-p);
  transition: all var(--anim-speed) ease-in-out;
}
.info:hover {
  background-color: var(--c-s);
  border-color: var(--c-s);
  color: var(--c-s);
}
.info:hover img {
  filter: var(--filter-s);
}
.info img {
  background-color: transparent;
  filter: var(--filter-p);
  transition: all var(--anim-speed) ease-in-out;
}
/* --------------------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero_card {
    height: 60vh;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
