.cardInfo {
  height: 90vh;
  bottom: 0;
  width: 100vw;
  position: fixed;
  background-color: var(--background-color);
  box-shadow: 0px -26px 40px 25px rgba(0, 0, 0, 0.8);
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  transition: var(--anim-speed);
  border-radius: var(--border-r) var(--border-r) 0 0;
  overflow-y: scroll;
}
/* ------------ HEADER -------------------- */
.cardInfo_header {
  display: flex;
  width: calc(100vw - var(--padding) * 2);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 40px;
  background-color: var(--background-color);
  border-radius: var(--border-r) var(--border-r) 0 0;
  padding: var(--padding);
}
.cardInfo_header p {
  margin: 0;
  font-size: 18px;
}
.cardInfo_header_close {
  width: 32px;
  height: 32px;
  border-radius: var(--border-r);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--anim-speed) ease-in-out;
}
.cardInfo_header_close:hover {
  background-color: var(--color-step-200);
}
.cardInfo_header_close img {
  width: 24px;
  height: 24px;
}
.cardInfo_content_info {
  padding: var(--padding);
}
.cardInfo_content_title p {
  margin: 0;
  font-size: 26px;
  font-weight: 800;
}

/* ------------- IMG CONTENT ----------- */
.cardInfo_content_img {
  margin-top: 72px;
  width: 100%;
}
.cardInfo_content_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* ------------- CONTENT -------------- */
.cardInfo_content {
  height: 200vh;
}

.cardInfo_content_info {
  height: 100%;
  border-radius: var(--border-r) var(--border-r) 0px 0px;
}
/* --------------------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
