.scroll_list_container {
  height: 400px;
  margin-top: var(--margin);
  width: 100%;
  opacity: 0;
  visibility: visible;
  position: absolute;
  bottom: 10%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: auto;
  justify-content: space-between;
  transition: var(--anim-speed) ease-in-out;
  background-color: transparent;
}

.scroll_list_container_img_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll_list_container_sx {
  width: 50px;
  height: 50px;
  border-radius: 0 var(--border-r) var(--border-r) 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scroll_list_container_dx {
  width: 50px;
  height: 50px;
  position: absolute;
  display: none;
  right: 0;
  top: 50%;
  border-radius: var(--border-r) 0 0 var(--border-r);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scroll_list_container_sx img {
  width: 30px;
  height: 30px;
}
.scroll_list_container_dx img {
  width: 30px;
  height: 30px;
}
